@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common parts */
body{
font-family: 'Poppins', sans-serif;
}

/* top part styles */
.container{
    display: grid;
    background-color: #2D25A0;
    grid-template-columns: repeat(2,1fr);   
    margin-bottom: 70px;
}
.top-part img{
    width: 556.01px;
    height: 438px;
    margin: 153px 140.99px 86px 102px; 
    transition: transform 1s ease-in-out;
    
    

}
.top-part img:hover{
   transform: rotate(360deg);
   width: 600px;
   height: 600px;
}
.caption{
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 207px;
    margin-left: 156px;
    font-size: 64px;
    margin-bottom: 11px;
}
.live-icon{
    padding: 10px 24px;
    margin-left: 154px;
    background-color:  #E02C6D;
    color: #FFFFFF;
    width: 168px;
    height: 44px;
    font-size: 24px;
    margin-bottom: 185px;
    
}

/* top players style */
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    margin-left: 188px;
    margin-right: 210px;
}
.players img{
    height: 256px;
    width: 300px;
    margin: 16px;
}
.player{
    width: 330px;
    height: 474px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15) ;
    margin-bottom: 27px;
    width: 330px;
    height: 474px;
    overflow: hidden;
    margin-left: 15px;
    margin-right: 15px;
    
}
.player-info{
    padding-left: 15px;
    padding-right: 15px;
}
   
.player-name{
    color: #18191F;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
}
.player-description{
    color: #6C6C6C;
    font-size: 16px;
    padding-bottom: 33px;
    }
    
    /* moto style */
.moto{
    background-image: url(images/extra/mock.jpg);
    background-repeat: no-repeat;

}

.our-moto{
    margin-bottom: 40px;
}
.moto-highlight{
    font-weight: 700;
    text-align: center;
    word-spacing: 20px;
    padding-top: 80px;
    color: chartreuse;
    font-size: 30px;
}
.moto-desc{
    color: rgb(229, 255, 0);
    margin: 30px 30px;
    text-align: center;
    font-weight: 500;
}
.moto-button{
    text-decoration: none;
    background-image: linear-gradient(gold,brown);
    text-align:justify;
    font-size: 20px;
    border-radius: 8px;
    align-items: center;
    margin-left: 380px;
}

/* match gallary style */
.match-gallary{
    margin-top: 50px;
    margin-left: 30px;
    margin-right: 30px;
}
.photos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 25px;
    
}
.photos img:hover{
    transform: rotate(45deg);
    transition: transform 2s ease-in-out;
}

/* footer style */
.image-icon{
    width: 483.87px;
    height: 204px;
    margin-left: 495px;
    margin-top: 158px;
    margin-bottom: 58px;
    margin-right: 461.13px;
}
.thumbnil{
    width:483.86px;
    height: 110px;
    margin-top: -4.5px;
    margin-bottom: 20px;
    
}
.icons{
    width: 170px;
    height: 32px;
    margin-Left: 156.94px;
    margin-right: 156.94px;
    margin-bottom: 20px;
    
    display: flex;

}
.fab{
    width: 32px;
    height: 32px;
    margin: 0px 14px;

}
.copyright{
    margin-left: 123.94px;
    margin-right: 123.94px;
    margin-bottom: 81.5px;
    font-size: 18px;
    height: 31px;
    width: 236px;
    text-align: center;
}
@media only screen and (max-width:688px) {

    
   .container, .players , .photos{

    grid-template-columns: repeat(1,1fr);
    }
    .players{
        justify-content: center;
    }
    .captions{
        width: 400px;
    }
        
    .top-part img{
        width: 350px;
        height: 259.17px;
        margin-right: 20px;
        margin-left: 20px;
        
    }
    .top-part img:hover
        {
            Cursor:text !important; Text-Decoration: None !important; 
            } 
    .caption{
        margin-left: 30px;
        font-size: 50px;
    } 
    .image-icon{
        margin-left: 20px;
        margin-right: 20px;
        
    }
    .thumbnil{
        width: 300px;
    }
   .icons{
       width: 60px;
       margin-left: 20px;
       margin-right: 20px;   

   }
   .copyright{
       margin-left: 20px;
       margin-right: 20px;
   }
    
}